{% load static %}
<link rel="stylesheet" href="{% static 'home/css/dropdown.css' %}">
<header>
  <h1><a href="{% url 'home' %}">Cinema Site</a></h1>
  <nav>
    <ul>
      <li class="padding-links" ><a href="{% url 'home' %}">Home</a></li>
      <li class="padding-links"><a href="{% url 'movies' %}">Movies</a></li>
      <li class="padding-links"><a href="{% url 'theater' %}">Theaters</a></li>
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" id="dropdownMenu" class="dropdown-toggle">{{user.username}}</a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </li>
      {% else %}
        <li>
          <div class="login_register">
            <a href="{% url 'login' %}">Log In</a>|
            <a href="{% url 'register' %}"> Sign Up</a>
          </div>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dropdownMenu = document.querySelector('#dropdownMenu');
    var menuItems = document.querySelectorAll('.dropdown-menu li');

    dropdownMenu.addEventListener('click', function(event) {
      event.stopPropagation();
      document.querySelector('.dropdown-menu').classList.toggle('show');
    });

    menuItems.forEach(function(item) {
      item.addEventListener('click', function(event) {
        event.stopPropagation();
      });
    });

    document.addEventListener('click', function() {
      document.querySelector('.dropdown-menu').classList.remove('show');
    });
  });
</script>
