{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Site - Home</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'home/favicon/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
      {% include 'home/header.html' %}  
    <main>
      <section class="hero">
        <h2 class="animate-charcter">Welcome to Cinema Site</h2>
        <p>Explore our latest movies and find a theater near you.</p>
        <a href="{% url 'movies' %}" class="btn">View Movies</a>
      </section>
      <hr />
      <section class="featured">
        <h2>Featured Movies</h2>
        {% include 'home/movie_list.html' %}
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Cinema Site. All rights reserved.</p>
    </footer>
  </body>
</html>
