{% load static %}
<!-- TEST PAGE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Site - Home</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
  </head>
  <body>
    {% include 'home/header.html' %}
    <section class="featured">
        <div class="stages">
          {% for state in states %}
             <h2><a href="#">{{ state.stage }}</a></h2>
            {% endfor %}
          <!-- <h2><a href="#">Now Playing</a></h2>
          <h2><a href="#">Advance Ticket</a></h2>
          <h2><a href="#">Coming Soon</a></h2> -->
        </div>
          {% include 'home/movie_list.html' %}
        </section>  
  </body>
</html>
