{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'home/css/detail.css' %}">
  <meta charset="UTF-8">
  <title>Cinema Information Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      rel="shortcut icon"
      href="{% static 'home/favicon/favicon.ico' %}"
      type="image/x-icon"
    />
</head>
<body>
    {% include 'home/header.html' %}
    <main>

  <div class="container">
    <div class="movie-card">
      <img src="{{movie.poster.url}}" alt="Movie Poster {{movie.name}}">
      <a class="watch-trailer">Watch Trailer</a>
      <div class="movie-details">
        <h2>{{movie.name}}</h2>
        <p>{{movie.description}}</p>
        <p class="meta"><span class="age-rating">{{movie.age_limit}}+</span>  <span class="duration">{{movie.duration}}</span> <span class="production">{{movie.year}}, {{movie.production}}</span></p>
        <ul>
          <li><strong>Director:</strong> {{movie.director}}</li>
          <li><strong>Starring:</strong> {{movie.starring}}</li>
          <li><strong>Genre:</strong> 
            {% for category in categories %}
              {{ category.name }}
            {% endfor %}</li>
          <li><strong>Studio:</strong> {{movie.studio}}</li>
          <li><strong>Language:</strong> {{movie.language}}</li>
          <li><strong>Original Name:</strong> {{movie.original_name}}</li>
          <li><strong>Showtime:</strong> {{movie.start_rental|date:"d.m.Y"}}  - {{movie.end_rental|date:"d.m.Y"}}</li>
        </ul>
      </div>
    </div>
    <!-- Add more movie cards as needed -->
  </div>
        
</main>
</body>
</html>
