{% load static %}
<!-- TEST PAGE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Site - Home</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
    <link href="" />
  </head>
  <body>
    {% include 'home/header.html' %}
  
    <section class="featured">
        <h2>Now Playing</h2> 
        <!-- Add:
          Advance Tickets
        Coming soon -->
          {% include 'home/movie_list.html' %}
  </body>
</html>
