{% load static %}
<!-- TEST PAGE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Site - Home</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
    <link href="" />
  </head>
  <body>
    {% include 'home/header.html' %}
  
    <section class="featured">
        <h2>Featured Movies</h2>
        <div class="movie-list">
          {% for m in movie %}
          <div class="movie">
            <img
              src="{{ m.poster.url }}"
              alt="{{ m.name }}"
            />
            <h3>{{m.name}}</h3>
          </div> {% endfor %}
          </div>
  </body>
</html>
