.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
  }

  .dropdown-toggle {
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background: none;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    padding: 10px 0;
    margin: 15px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #131219;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  .dropdown-menu li {
    display: block;
    background: none;
  }

  .dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    background: none;
    text-decoration: solid #fff underline;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
  }

  .dropdown-menu.show {
    display: block;
  }


  /* Login - Register  */

.login_register {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}

.login_register a {
  margin: 0 5px;
  text-decoration: none;
  background: none;
}

.login_register a:first-child {
  margin-left: 0;
}

.login_register a:last-child {
  margin-right: 0;
}
