{% extends 'home/base.html' %}
{% load static %}
{% block additional %}
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock additional %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
      <h1>{{request.user.username}}</h1>
      <h2>@{{request.user.slug}}</h2>
    </div>
    <div class="profile-info">
      <h3>Email   💬</h3> 
      <p>{{request.user.email}}</p>
      <h3>Favorite Movies  💥</h3>
      <ul>
        <li>Back to the Future</li>
        <li>Ghostbusters</li>
        <li>The Goonies</li>
      </ul>
    </div>
  </div>
{% endblock content %}