{% extends 'home/base.html' %}
{% load static %}

{% block additional %}
<link rel="stylesheet" href="{% static 'user/css/settings.css' %}">
<title>@{{request.user.slug}}</title>
{% endblock additional %}

{% block content %}
  <div class="container">
    <div class="back-home">
      <a href="{% url 'profile' request.user.slug %}">Back Home</a>
    </div>
    <div class="profile-header">
      <h1>User Settings</h1>
    </div>
    <form method="post" >
        {% csrf_token %}
        <div class="field"> 
            <label for="username">Username</label>
            <input type="text" name="username" value="{{request.user.username}}" maxlength="255" required="" id="id_username">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" value="{{request.user.email}}" maxlength="254" required="" id="id_email">
        </div>
        <div>
          <button class="save-changes" type="submit">Save Changes</button>
        </div>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        {% if form.errors %}
        <ul class="error-list">
            {% for field in form %}
                {% for error in field.errors %}
                    <li class="error-item">{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
      </form>
  </div>
  {% endblock content %}
