* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
}

button {
  margin: 1em;
  text-align: center;
  float: right;
  font-size: 24px;
  color: #fff;
  background-color: #e23c30;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.5em;
}

button:hover {
  background-color: #e12626;
  transition: background-color 0.3s ease;
}

.movie-container {
  margin: 60px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 15px;
  font-size: 42px;
  margin-left: 30px;
  padding: 15px 45px 15px 45px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 3000px;
}

.seat {
  background-color: #444451;
  height: 36px;
  width: 45px;
  margin: 9px;
  border-radius: 15%;
}

.seat.selected {
  background-color: #a055da;
  transition: background-color 0.3s ease-in-out;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 54px;
}

.seat:nth-last-of-type(2) {
  margin-left: 54px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(3);
}

.row {
  display: flex;
  justify-content: center; /* Center the seats horizontally */
}

.screen {
  background-color: #fff;
  height: 210px;
  width: 100%;
  margin: 45px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 9px 30px rgba(255, 255, 255, 0.75);
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the rows of seats vertically */
  margin-top: 50px; /* Adjust the spacing as needed */
}
