{% extends 'home/base.html' %}
{% load static %}

{% block additional %}
  <link rel="stylesheet" href="{% static 'home/css/detail.css' %}">
  <link rel="stylesheet" href="{% static 'theater/css/select_date.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/watch-trailer.css' %}">
  <title>{{movie.name}} - Soft Cinema</title>
{% endblock additional %}

{% block content %}
<main>
  <div class="container">
    <div class="movie-card">
      <img src="{{movie.poster.url}}" alt="Movie Poster {{movie.name}}">
        <!-- Adding video player -->
        <button class="watch-trailer" data-trailer-url="{{ movie.trailer }}">Watch Trailer</button>
        <div id="video-container">
          <div id="player"></div>
          <div class="close-button" onclick="closeVideoPlayer()">X</div>
        </div>
      <div class="movie-details">
        <h2>{{movie.name}}</h2>
        <p class="meta">
          <span class="age-rating">{{movie.age_limit}}+</span>
          <span class="duration">{{movie.duration}}</span>
          <span class="production">{{movie.year}}, {{movie.production}}</span>
        </p>
        {% include 'theater/seats.html' %}
        <!-- Showtiming buttons -->
        <div class="showtimings">
          <div class="showtiming-buttons">
            {% for hall_ in halls %}
            <a href="{% url 'buy-ticket-hall' movie.slug hall_.slug %}" class="{% if hall.slug == hall_.slug %}selected_showtiming{% else %}showtiming{% endif %}">
                {{ hall_.date | date:"d M H:i" }}
            </a>
        {% endfor %}
        
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock content %}
<script src="{% static 'home/js/watch-trailer.js' %}"></script>
