{% if seats %}
    <h3>Choose your seat:</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <div class="seating-arrangement">
            {% for seat in seats %}
                {% if seat.seat_number == 1 %}
                    <div class="row">
                        <span class="row-label">{{ seat.row }}</span>
                {% endif %}
                {% if seat.seat_number == 6 %}
                    </div>
                    <div class="row">
                        <span class="row-label">{{ seat.row }}</span>
                {% endif %}
                {% if seat.is_booked %}
                    <input type="checkbox" name="seat" value="{{ seat.id }}" disabled>
                {% else %}
                    <input type="checkbox" name="seat" value="{{ seat.id }}">
                {% endif %}
            {% endfor %}
            </div>
        <input type="submit" value="Book Now">
    </form>
{% else %}
    <p>Sorry, all seats are booked.</p>
{% endif %}
