{% load static %}

<link rel="stylesheet" href="{% static 'theater/css/style.css' %}" />

<form method="post">
  {% csrf_token %}
  <div class="container">
    <div class="screen"></div>
    {% for seat in seats %}
      {% if forloop.counter0|divisibleby:8 %}
        </div><div class="row">
      {% endif %}
      {% if seat.is_available %}
        <div class="seat">
          <label for="seat_{{ seat.id }}">
            <input type="checkbox" id="seat_{{ seat.id }}" name="seat" value="{{ seat.id }}">
            {{ seat.id }}
          </label>
        </div>
      {% else %}
        <div class="seat occupied"></div>
      {% endif %}
    {% endfor %}
  </div>
  <button type="submit">Book seats</button>
</form>
