/* Reset all styles to default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #16151e;
  color: #fff;
}

/* Style header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Style navigation menu */
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

nav a:hover {
  background-size: 0 1px, 100% 1px;
}

/* Style main content */
main {
  padding: 20px;
}

/* Style hero section */
.hero {
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Style buttons */
.btn {
  display: inline-block;
  background-color: #ffff;
  color: #222;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0a0a1a;
  color: #ff0e5e;
  transition: background-color 0.3s ease;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.05)
  );
}
/* Style featured section */
.featured {
  margin-top: 50px;
}

.featured h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Style movie list */
/* Set up grid for movie list */
.movie-list {
  margin: 0 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Style movie item */
.movie {
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.movie img {
  width: 100%;
  height: 67.5%;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.movie h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie p {
  font-size: 1vw;
  margin-bottom: 10px;
}

/* Style footer */
footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

/* Make the website responsive for small screens */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    margin-top: 20px;
  }

  nav li {
    margin: 0 10px;
  }

  .hero {
    padding: 50px;
  }

  .hero h2 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .movie-list {
    margin: 0 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .movie {
    width: 40%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px;
    margin-right: 10px;
  }

  .movie img {
    width: 100%;
    height: 67.5%;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
  }

  .movie h3 {
    font-size: 18px;
  }

  .movie p {
    font-size: 1.5vw;
    margin-bottom: 20px;
  }
}
